<ion-view view-title="{{title}}">
    <div class="bar bar-header app-color">
        <button  class="button icon ion-navicon menu-btn" ng-click="toggleSidebarJS()"></button>  
        <h1 class="title">{{title}}</h1>
    </div>
    
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img src="http://1.bp.blogspot.com/-kXS3MLcpTPw/T4rZBW2p8DI/AAAAAAAABqI/tR5aiO4Cj58/s1600/cows2.jpg"></div>
            <div class="swiper-slide"> <img src="http://i677.photobucket.com/albums/vv137/smileytrucker/cow-toy-car-stuck-head-1259518194w.jpg"></div>
            <div class="swiper-slide"><img src="http://farm6.staticflickr.com/5226/5663664227_ba5e573930_z.jpg"></div>           
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
<!--        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>-->

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>



    <div class="row">        
        <div class="col no-pad no-margin">
            <div class="module-list">
            box1
            </div>
        </div>
        <div class="col no-pad no-margin">
            <div class="module-list">
            box2
            </div>
        </div>
        <div class="col no-pad no-margin">
            <div class="module-list">
            box3
            </div>
        </div>
        
        <div class="col no-pad no-margin" ng-click="openModule('notification')">
            <div class="module-list">
                <p style="text-align: center" >
                <img height="32" width="32" src="img/notification.png"/>
                Notification
                </p>
                
            </div>
        </div>

    </div>
       <div class="row">        
        <div class="col no-pad no-margin">
            <div class="module-list">
            box1
            </div>
        </div>
        <div class="col no-pad no-margin">
            <div class="module-list">
            box2
            </div>
        </div>
        <div class="col no-pad no-margin">
            <div class="module-list">
            box3
            </div>
        </div>
        
        <div class="col no-pad no-margin">
            <div class="module-list">
            box4
            </div>
        </div>

    </div>
</ion-view>

<sidebarjs  on-close="onSidebarClose()"   on-open="onSidebarOpen()">
  <h3>Left Menu</h3>
  <nav>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs" target="_blank"><div class="img github"></div>Github</a>
      <a sidebarjs-toggle href="https://www.npmjs.com/package/angular-sidebarjs" target="_blank"><div class="img npm"></div>npm</a>
      <a sidebarjs-toggle href="https://github.com/lorenzodianni" target="_blank"><div class="img author"></div>Author</a>
    </div>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/blob/master/README.md" target="_blank"><div class="img wiki"></div>Wiki</a>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/issues" target="_blank"><div class="img bugs"></div>Bugs</a>
    </div>
  </nav>
</sidebarjs>



