<ion-view view-title="Login">
  <ion-nav-bar class="app-color"></ion-nav-bar>    
  <ion-content class="padding">  
   <div class="row responsive-sm">        
        <div class="list list-inset">      
        <label class="item item-input margin-bottom">
        <input type="text" placeholder="email or mobile">
        </label>

            <label class="item item-input margin-bottom">
        <input type="password" placeholder="password">
        </label>

        <button class="button col-90 button-calm">Login</button>
         </div>
   </div>
  </ion-content>
</ion-view>