<ion-view view-title="{{title}}">
    <div class="bar bar-header app-color"> 
         <ion-icon name="arrow-back"></ion-icon>
        <h1 class="title">{{title}}</h1>
    </div>
    
 
  <ion-content class="padding">  
   <div class="row responsive-sm">        
        <div class="list list-inset">      
        <label class="item item-input margin-bottom">
        <input type="text" placeholder="email or mobile">
        </label>

            <label class="item item-input margin-bottom">
        <input type="password" placeholder="password">
        </label>
<a href="#dashboard">Login</a>
            <button class="button col-90 button-calm"></button>
         </div>
   </div>
  </ion-content>
</ion-view>